.container-footer {
  background-color: #fe012b;
  margin-top: 50px;
}
.footer-flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.footer-items-logo {
  width: 600px;
}
.footer-items-logo img {
  width: 200px;
  /* border-radius: 50%; */
}
.footer-items-text {
  width: 650px;
  text-align: right;
  padding-right: 20px;
  margin-right: 20px;
  padding-top: 30px;
}
.footer-items-text p {
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.footer-items-text span {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  padding-left: 20px;
}

.footer-items-text span:hover {
  color: #bd0221;
}
