.container-footer {
  background-color: #af004f;
  margin-top: 30px;
}
.footer-flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footer-items-logo {
  width: 500px;
  margin-top: 10px;
  padding-top: 20px;
}
.footer-items-logo img {
  width: 200px;
}
.footer-items-logo img {
  width: 170px;
  padding-top: 20px;
}
.footer-items-text {
  width: 650px;
  text-align: right;
  padding-right: 20px;
  padding-top: 50px;
  margin-bottom: 40px;
}
.footer-items-text p {
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.footer-items-text span {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  padding-left: 20px;
}

.footer-items-text span:hover {
  color: #303030;
}

