.container-testimony {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.testimony-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 50px;
}
.testimony-items {
  width: 270px;
  background-color: rgb(233, 233, 233);
  text-align: center;
  box-shadow: 0px 0px 15px -10px;
  border-radius: 10px;
  padding: 25px;
  margin-top: 30px;
}
.testimony-items img {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 10px;
}
.testimony-items .visitor {
  padding-bottom: 10px;
}
.testimony-items q {
  font-size: 13px;
  margin-top: 50px;
}
